body {
    background-color: #500000
}

.row, h1, h2{
    padding: 20px 0px 20px 0px;
}

.btn {
    background-color: #500000;
    border-color: #500000;
}

.btn:hover {
    background-color: white;
    border-color: #500000;
    color: #500000;
}
footer.a {
    color: blue;
}